table {
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.1em solid  black;
}
tr {
    height: 8vh;
}
table tr:nth-child(even) {
    background-color: #eee;
}