.video__principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.video{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(./play-button-vector-icon-black-260nw-329250329.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.texto__video{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 55px;
   width: 555px;
    background-color: antiquewhite;
}
.texto__video h3, p {
    padding: 1%;
}

@media (max-width: 57.5em) {
   
    .texto__video {
        padding: 5%;
        margin-left: 0;
    }

    .video {
        margin-bottom: 15px;
    }
}

.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; 
}
.modal h4 {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
}

.modal__content {
    position: absolute;
    transform: translate(120%, 50%);
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transition: all .4s .2s; 
}

@media screen and (max-width: 320px) and (min-width: 320px) {
   
    .modal__content {
        
        width: 85% !important;
        transform: translate(5%, 10%) !important ;
    }
}

@media screen and (min-width: 375px) {
   
    .modal__content {
        width: 350px !important;
        transform: translate(3%, 20%) !important ;
    }
}
@media screen and (min-width: 425px) {
   
    .modal__content {
        width: 360px !important;
        transform: translate(6%, 20%) !important ;
    }
}
@media screen and (min-width: 768px) {
   
    .modal__content {
        width: 360px !important;
        transform: translate(49%, 20%) !important ;
    }
}
@media screen and (min-width: 1024px) {
   
    .modal__content {
        width: 400px !important;
        transform: translate(120%, 40%) !important ;
    }
}

@media screen and (min-width: 1440px) {
   
    .modal__content {
        width: 360px !important;
        transform: translate(145%, 20%) !important ;
    }
}

/* @media (max-width: 425px) {
   
    .modal__content {
        transform: translate(70%, 2%) ;
    }
}    
@media (max-width: 1024px) {
   
    .modal__content {
    
        transform: translate(80%, 35%) ;
    }
}
/* @media (max-width: 768px) {
   
    .modal__content {
    
        transform: translate(45%, 35%) ;
    }
} */

/* @media only screen and (max-width: 768px) and (min-width: 425px) {
    .modal__content {
    
        transform: translate(45%, 35%) ;
    }
}
@media only screen and (max-width: 375px) and (min-width: 320px){
    transform: translate(1%, 35%);
    width: 94%;
} */ 